html {
  height: 100%;
  padding:0;
  margin:0 auto;
  background-color:#ffffff;
}
body {
  height: 100%;
  padding:0;
  margin:0 auto;
  background-color: transparent;
}

.nav ul {
  list-style: none;
  background-color:#ffffff;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  height:9%;
  border-color:#d3d3d3;
  border-width: 1px;
  border-style:solid;
  border-right: none;
  border-left:none;
  border-top:none;
  border-bottom-style: solid;
  font-family: "Permanent Marker", cursive;

}
.nav li {
  font-family:"Permanent Marker", cursive;
  height: 10%;
  width:12%;
  border-bottom: 1px solid #888; 
  margin-left:12%;
}
 
.nav a {
  text-decoration: none;
  color: #000000;
  transition: .3s color;
}
 
.nav a:hover {
  color:#a9a9a9;
}
 
.nav a.active {
  color: #a9a9a9;
}
 
@media screen {
  .nav li {
    width: 3%;
    border-bottom: none;
    display:inline-block;
    height:10%;
    line-height: 264%;
    font-size: 132%;
}
 
/* Option 1 - Display Inline */
.nav li {
  display: inline-block;
  margin-right: -4px;
}

#uberbar    { 
  position:fixed; 
  top:0; 
  left:0; 
  z-index:100;
}

#logo {
  width:3.5em;
  margin-left:20%;
  position: fixed;
  z-index:200;
  padding-top:.1%;
}

#latest_vid {
  background-image: url("file:///home/abthompson/Business/Images/giphy.gif");
  width:100%;
  height:100%;

}



.myButton {
    background-color:#000000;
    border:3px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#a9a9a9;
    font-family:Arial;
    font-size:17px;
    padding:100%,25%;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    transition: .3s, color;
    font-family: ubuntu;
}
.myButton:hover {
    background-color:#000001;
    color:#ffffff;
}
.myButton:active {
    position:relative;
    top:1px;
}

h1{
  font-family: "Permanent Marker", cusive;
}

div.holder div {
  float: left;
  width: 33.33%;
  height:100%;
}
div.holder1 div {
  float: left;
  width: 16.66%;
  align-items: center;
  height:100%;
  background-color: #ffffff;
  border-top-width: 1px;
  border-bottom-style:solid 
  border-color:#ffffff;   
}

div.holder2 div {
  float: left;
  width: 25%;
  height: 100%;
  background-image:url(https://docs.google.com/uc?id=0B8S6FJlhZBZKZmZsUzluaUhzaTQ);
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-color:#d3d3d3;
  border-bottom-width: 2px;
}

div.holder3 div {
  float: left;
  width: 16.66%;
  background-color: #ffffff;
  height: 100%;
}

div.holder4 div {
  float: left;
  width: 25%;
  height: 100%;
  background-image:url(https://docs.google.com/uc?id=0B8S6FJlhZBZKZmZsUzluaUhzaTQ);
  background-color: transparent;
}

.relative{
  position:relative; 
  width:100%;
}
.absolute-text {
  position:absolute; 
  top:-2%; 
  font-size:620%; 
  font-family:"Permanent Marker", cursive; 
  background:rgba(0,0,0 ,0.5);
  width:100%;
  height:94.5%;
  padding-top:3%;
  text-align:center;
  color:#fff;
}

.absolute-text a{
  font-size:16px; color:#b92b27;
}

.absolute-text2 {
  position:absolute; 
  top:35%; 
  font-size:200%; 
  font-family:"Permanent Marker", cursive; 
  width:45%;
  height:94.5%;
  padding-left:28%;
  text-align:center;
  text-align:middle;
  color:#fff;

}

.absolute-text3 {
  position:absolute; 
  top:70%; 
  font-size: 200%;
  font-family:ubuntu; 
  align:middle;
  padding-left:45%;
  text-align:center;
  text-align:middle;
  color:#fff;
}

.absolute-text4 {
  position: absolute;
  top:70%;
  font-size: 200%;
  font-family:ubuntu; 
  align:middle;
  padding-left:54%;
  text-align:center;
  text-align:middle;
  color:#fff;
}

.absolute-text5 {
  position: absolute;
  top:50%;
  font-size: 90%;
  font-family:ubuntu; 
  align:middle;
  padding-left:34%;
  text-align:center;
  text-align:middle;
  color:#fff;
}

.absolute-text6 {
  position: absolute;
  font-size: 175%;
  top:35%;
  font-family:"Permanent Marker", cursive; 
  align:middle;
  padding-left:40%;
  text-align:center;
  text-align:middle;
  color:#fff;
}

.absolute-text7 {
  position: absolute;
  top:50%;
  font-size: 90%;
  font-family:ubuntu; 
  align:middle;
  padding-left:41%;
  text-align:center;
  text-align:middle;
  color:#fff;
}

.absolute-text8 {
  position: absolute;
  top:35%;
  font-size:175%;
  font-family:"Permanent Marker", cursive; 
  align:middle;
  padding-left:30%;
  text-align:center;
  text-align:middle;
  color:#606060;
}

.absolute-text9 {
  position: absolute;
  top:50%;
  font-size:90%;
  font-family:ubuntu; 
  align:middle;
  padding-left:38%;
  text-align:center;
  text-align:middle;
  color:#000;
}

.absolute-text10 {
  position: absolute;
  top:40%;
  padding-left:33%;
  font-family:ubuntu; 
  align:middle;
  text-align:center;
  text-align:middle;
  color:#fff;
}

.absolute-text11 {
  font-size: 10em;
  position: absolute;
  top:70%;
  background-color: #fff;
  opacity: .7;
  font-family:ubuntu; 
  text-align:center;
  text-align:middle;
  color:#000;
  margin-left: 29%
}

.absolute-text12 {
  position: absolute;
  top:70%;
  font-family:ubuntu; 
  text-align:center;
  text-align:middle;
  color:#000;
  padding-left: 5%;
}

.footer {
  background-color: #000000;
  width:100%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #ffffff;
  text-decoration:none; 
}

table {
  font-family:ubuntu;
  color:#fff;
  border-width:15pt;
  border-color:#000000;
  border-style:solid;
  border-left: none;
  border-bottom: none;
  border-right:none;
  background-color:#000000;
  text-align:center;
  text-decoration:none;
}

p {
  font-family:ubuntu;
}

.text {
  background-color:#000000;
  text-decoration-color: #ffffff;
  width:100%;
  height:30px;
  color:#fff;
  text-align: center;
}

a {
  text-decoration: none !important;
  color:#ffffff;
  font-family: ubuntu;
  text-align: center;
}

a:hover {
  color:#d3d3d3;
  transition: .3s;
  text-decoration: underline; 
}

.StoreHeader {
  text-align:center;
  color:#000000;
  background-color: #ffffff;
}

.StoreHeader1 {
  text-align:center;
  color:#ffffff;
  font-size: 400%;
}

.StoreHeader4 {
  text-align:center;
  color:#ffffff;
  font-size: 200%;
}
.StoreHeader2 {
  text-align:center;
  color:#303030;
  background-color: transparent; 
  font-size:400%;
}

.StoreHeader3 {
  text-align:center;
  background-color: transparent;
  color:#303030;
  font-size: 200%: 
}

.SnowcrestAbout {
  font-family: ubuntu;
  width:45%;
  padding-left:27.5%;
  padding-right:27.5%;
  text-align: center;
  color:#ffffff;
}

.AboutBackground{
  padding-top: 2%;
  background-image: url(https://docs.google.com/uc?id=1bQzD8jGG-2pOMr5AHfBgOlD8vFn2lo71)
  background-repeat:no-repeat;
  background-position:center center; 
  height:30em;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #ffffff;
}

h3 {
  font-family: "Permanent Marker", cusive;
}

.AboutBody {
  background-color: #000000;
}

.ClickVideo a h3 {
  display: none;
}

.ClickVideo:hover p {
  display: block;
}

.ClickVideo:hover {
  display: block;
}

.abouttext {
  text-align: center;
  font-family: ubuntu;
  color:#000000;
}

.abouttext:hover {
  text-align: center;
  font-family: ubuntu;
  color:#d3d3d3;
  transition: .3s;
}

u {
  text-decoration: none; 
}

.button {
  border-radius: 5px;
    border: none;
    color:#000;
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    float: left;
    border:#000 solid 3px;
    font-size: 17px;
    background:transparent;
    font-weight:bold;
}

.button:hover {
    background-color: #000;
    color:#fff;
    transition: .3s
}

#h2 {
  font-family: "Permanent Marker", cursive;
}

div.holder5 div {
  float: left;
  width: 35%;
  height:100%;
  padding-left:8%;
}

div.holder6 div {
  float: left;
  width: 35%;
  height:100%;
  padding-left:8%;
  align-content: center;
}

.spacer1 {
  height: 6%;
  background-color: #ffffff;
}

.spacer{
  height:7em;
  width:100%;
}

.info {
  font-family: ubuntu;
}

h2 {
  font-family: "Permanent Marker", cursive;
}

tr {
  font-family: "Permanent Marker", cursive;
}

ul {
  font-family: "Permanent Marker", cursive;
}

.text{
  font-family: "Permanent Marker", cursive;
}

h1{
  font-family: "Permanent Marker", cursive;
}

.partner {
  width:50%;
  padding-left: 25%;
}

.that1link {
  font-family: "Permanent Marker";
  color:#000000;
}

div.holder5 div {
  padding-left: 10%;
  float: left;
  height: 100%;
  background-color: #ffffff;
}

.overview {
  background-color: #ffffff;
  font-family: ubuntu;
  color:#808080;
  border-width:5px;
  border-style: solid;
  border-radius: 8px;
}

.product {
  background-color: #a9a9a9;
  float:left;
  width:29.3334%;
  margin-left:13%;
  color:#ffffff;
  border:solid 1em #a9a9a9;
  border-radius: 5px;
}

.button1 {
  border-radius: 5px;
    border: none;
    color:#ffffff;
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    float: left;
    border:#fff solid 3px;
    font-size: 17px;
    background:transparent;
    font-weight:bold;
    font-family: ubuntu;
}

.button1:hover {
    background-color: #fff;
    color:#a9a9a9;
    transition: .3s
}

.pic {
  border: solid 1px #a9a9a9;
  border-radius: 5px;
}
